@use '../../Styles/Constants.scss' as *;

@media screen and (min-width: $big) {
    .main {
        @include flexible-row(center, center);

        background-color: #f9f9f9;
        margin-top: 30px;
        width: 100vw;

        .main-wrapper {
            @include flexible-row(center, flex-start);

            width: $big;
            
            .main-content {
                @include flexible-row(center, space-around);
                flex-wrap: wrap;

                padding: 30px;
                width: 100%;
                gap: 50px;
            }
        }
    }
}

@media screen and (max-width: $big) {
    .main {
        @include flexible-row(center, center);

        background-color: #f9f9f9;
        margin-top: 30px;

        .main-wrapper {
            @include flexible-row(center, flex-start);

            .main-content {
                @include flexible-row(center, space-around);
                flex-wrap: wrap;

                padding: 10px;
                width: 100%;
                gap: 50px;
            }
        }
    }
}