@use "../../../Styles/Constants.scss" as *;

.deliveries-title {
    @include flexible-row(center, space-between);

    width: 100%;

    h1 {
        color: $title-color;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }
}