@use "../../Styles/Constants.scss" as *;

.main {
    @include flexible-row(flex-start, center);
    flex-grow: 1;

    background-color: #f9f9f9;
    margin-top: 30px;
    padding-bottom: 50px;

    .main-content {
        @include flexible-column(center, center);
        
        width: $big;
        box-sizing: border-box;
        padding: 30px;
        gap: 30px;
    }
}

@media screen and (max-width: $big) {
    .main {
        .main-content {
            padding: 15px;
        }
    }
}

@media screen and (max-width: $pre-medium) {
    .main {
        .main-content {
            padding: 15px;
        }
    }
}