@use '../../Styles/Constants.scss' as *;

.footer {
    @include flexible-row(center, center);

    background-color: $title-color;

    margin-top: 50px;

    .footer-wrapper {
        @include flexible-row(center, flex-start);

        width: $big;

        .footer-content {
            @include flexible-row(center, center);

            padding: 30px;
            width: 100%;
            column-gap: 100px;
        }
    }
}

@media screen and (min-width: $medium) and (max-width: $big) {
    .footer {
        .footer-wrapper {
            .footer-content {
                @include flexible-row(center, space-around);

                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .footer {
        .footer-wrapper {
            width: $medium;

            .footer-content {
                @include flexible-column(center, flex-start);

                row-gap: 30px;
                padding: 15px;
            }
        }
    }
}