@use '../../Styles/Constants.scss' as *;

.nav {
    @include flexible-row(center, center);

    .nav-content {
        @include flexible-row(center, space-between);

        width: $big;
        box-sizing: border-box;
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (max-width: $big) {
    .nav {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 5;

        .nav-content {
            @include flexible-row(center, flex-start);

            column-gap: 30px;
            overflow-x: auto;
            padding: 10px 15px 10px 15px;
        }
    }
}