@use '../../Styles/Constants.scss' as *; 

.nav-link {
    text-decoration: none;
    color: $title-color;
    font-size: 16px;
    transition: color 0.5s;
    font-weight: 600;

    &:hover {
        color: $hover-color;
    }

    &:focus {

        border: none;
        outline: none; 
    }
}

@media screen and (max-width: $big) {
    .nav-link {
        font-size: 14px;
        white-space: nowrap;
    }
}