@use '../../Styles/Constants.scss' as *;

@media screen and (min-width: $big) {
    .header {
        width: 100vw;
        @include flexible-row(center, center);
    
        .header-wrapper {
            @include flexible-row(center, center);
    
            width: $big;
    
            .header-content {
                @include flexible-row(center, space-between);
    
                width: 100%;
                padding: 30px;
            }
        }
    }
}

@media screen and (max-width: $big) {
    .header {
        width: 100vw;
        @include flexible-row(center, center);
    
        .header-wrapper {
            @include flexible-row(center, center);
    
            width: $big;
    
            .header-content {
                @include flexible-row(center, space-between);
    
                width: 100%;
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .header {
        @include flexible-row(center, flex-start);
        
        .header-wrapper {
            @include flexible-row(center, center);

            max-width: $medium;

            .header-content {
                @include flexible-row(center, space-between);

                width: 100%;
                padding: 15px;
            }
        }
    }
}