@use '../../Styles/Constants.scss' as *;

.header {
    @include flexible-row(center, center);

    .header-content {
        @include flexible-row(center, space-between);
        
        width: $big;
        padding: 30px;
        gap: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $big) and (min-width: $medium) {
    .header {
        .header-content {
            width: 100%;
            padding: 15px;
        }
    }
}

@media screen and (max-width: $medium) {
    .header {
        .header-content {
            width: 100%;
            padding: 15px;
            gap: 0px;
        }
    }
}