@use '../../Styles/Constants.scss' as *;

.header {
    @include flexible-row(center, center);

    .header-wrapper {
        @include flexible-row(center, center);

        width: $big;

        .header-content {
            @include flexible-row(center, space-between);

            width: 100%;
            padding: 30px;
        }
    }
}

@media screen and (max-width: $big) {
    .header {
        .header-wrapper {
            width: 100%;
    
            .header-content {
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: $medium) {
    .header {
        @include flexible-row(center, flex-start);

        .header-wrapper {
            width: 100%;
        }
    }
}