@use "../../../Styles/Constants.scss" as *;

.order-items {
    @include flexible-column(stretch, flex-start);

    gap: 50px;
    min-height: 100px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}