@use "../../../Styles/Constants.scss" as *;

.order {
    @include flexible-column(stretch, flex-start);

    gap: 20px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px;
    box-sizing: border-box;

    .order-header {
        @include flexible-row(center, space-between);
        flex-wrap: wrap;

        width: 100%;

        .order-info {
            @include flexible-row(center, flex-start);

            flex-wrap: wrap;
            gap: 80px;

            .order-number {
                color: $title-color;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
            }

            .order-date {
                color: $title-color;
                font-weight: bold;
                font-size: 14px;
            }

            .order-status {
                color: $title-color;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .order-price {
                color: $title-color;
                font-size: 18px;
                font-weight: bold;

                &::after {
                    margin-left: 2px;
                    content: "\20BD";
                }
            }
        }

        .order-remove {
            cursor: pointer;
            color: $aux-color;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: $medium) {
    .order {
        .order-header {
            @include flexible-row(stretch, space-between);
            
            .order-info {
                @include flexible-column(stretch, space-between);
                flex-basis: 50%;

                column-gap: 0px;
                row-gap: 10px;

                .order-number {
                    color: $title-color;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                }
    
                .order-date {
                    color: $title-color;
                    font-weight: bold;
                    font-size: 14px;
                }
    
                .order-status {
                    color: $title-color;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
    
                .order-price {
                    color: $title-color;
                    font-size: 16px;
                    font-weight: bold;
    
                    &::after {
                        margin-left: 2px;
                        content: "\20BD";
                    }
                }
            }
    
            .order-remove {
                color: $aux-color;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}