@use '../../../Styles/Constants.scss' as *;

.header-cart {
    @include flexible-row(center, center);

    text-decoration: none;
    border: 1px solid white;
    background-color: $red-color;
    border-radius: 50px;
    column-gap: 25px;

    &:focus {
        outline: none; 
    }

    .cart-count {
        display: none;
    }

    .cart-picture {
        border-right: 1px solid white;
        padding: 5px 10px 5px 20px;

        svg {
            fill: white;
            width: 24px;
            height: 24px;
        }
    }

    .cart-price {
        font-size: 18px;
        color: white;
        margin-right: 20px;

        &::after {
            margin-left: 2px;
            content: "\20BD";
        }
    }
}

.active {
    border: 1px solid $red-color;
    background-color: white;
    
    .cart-picture {
        border-right: 1px solid $red-color;

        svg {
            fill: $red-color;
        }
    }

    .cart-price {
        color: $title-color;
    }

    &:hover {
        background-color: $red-color;
            
        .cart-picture {
            border-right: 1px solid white;

            svg {
                fill: white;
            }
        }

        .cart-price {
            color: white;
        }
    }
}

@media screen and (max-width: $big) {
    .header-cart {
        .cart-picture {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        .cart-price {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: $medium) {
    .header-cart {
        display: none;
    }

    .active {
        @include flexible-row(center, center);

        z-index: 10;
        position: fixed;
        bottom: 10px;
        right: 20px;

        box-sizing: border-box;
        width: 60px;
        height: 60px;

        text-decoration: none;
        border: 0px solid $red-color;
        background-color: $hover-color;
        border-radius: 30px;
        column-gap: 0px;
        padding: 15px;

        &:hover {
            background-color: $hover-color;
                
            .cart-picture {
                border-right: 1px solid $hover-color;
    
                svg {
                    fill: white;
                }
            }
        }

        &:active {
            background-color: $red-color;
                
            .cart-picture {
                border-right: 1px solid $red-color;
    
                svg {
                    fill: white;
                }
            }
        }

        .cart-count {
            @include flexible-row(center, center);
            position: absolute;

            width: 24px;
            height: 24px;

            border-radius: 30px;
            background-color: $title-color;
            color: white;
            top: -10px;
            right: 0;
            font-size: 10px;
            overflow: hidden;
        }

        .cart-picture {
            margin-right: 4px;
            border-right: 0px solid $red-color;
            padding: 0px;

            svg {
                fill: white;
                width: 28px;
                height: 28px;
            }
        }

        .cart-price {
            display: none;
        }
    }
}