@use '../../Styles/Constants.scss' as *;

.main {
    @include flexible-row(center, center);

    background-color: #f9f9f9;
    margin-top: 30px;

    .main-content {
        @include flexible-column(center, center);
        
        width: $big;
        box-sizing: border-box;
        padding: 30px;
        gap: 30px;

        .main-title {
            @include flexible-row(center, flex-start);

            width: 100%;
            color: $title-color;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .main-cards {
            @include flexible-row(center, flex-start);
            flex-wrap: wrap;

            width: 100%;
            gap: 50px;
        }
    }
}

@media screen and (max-width: $big) {
    .main {
        .main-content {
            padding: 15px;
        }
    }
}

@media screen and (max-width: $pre-medium) {
    .main {
        .main-content {
            padding: 15px;

            .main-cards {
                gap: 20px;
            }
        }
    }
}