@use "../../../Styles/Constants.scss" as *;

.categories {
    @include flexible-row(center, flex-start);
    flex-wrap: wrap;

    gap: 40px;
    width: 100%;
}

@media screen and (max-width: $pre-medium) {
    .categories {
        gap: 20px;
    }
    
}