@use '../../Styles/Constants.scss' as *;

.footer {
    @include flexible-row(center, center);

    background-color: $title-color;

    .footer-content {
        @include flexible-row(center, center);
        
        width: $big;
        padding: 30px;
        column-gap: 100px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: $medium) and (max-width: $big) {
    .footer {
        .footer-content {
            @include flexible-row(center, space-around);

            padding: 15px;
        }
    }
}

@media screen and (max-width: $medium) {
    .footer {
        .footer-content {
            @include flexible-column(center, flex-start);
            
            width: $medium;
            row-gap: 30px;
            padding: 15px;
        }
    }
}